body{
    font-family: Helvetica;
}

.title {
    color: #000000;
    text-align: center;
}

.empty{
    text-align: center;
    color: #881818;
}

.form{
    display: flex;
    justify-content: space-between;   
    
}

.app-container{
    background-color: #bebebe;
    margin: auto 15vw;
    padding: 10px;
    border-radius: 4px;
}

.input{
    padding: 0.6rem;
    border: 1px solid #fff;
    border-radius: 4px;
    width: 100%;
    margin-right: 8px;
    box-shadow: 2px 3px#a7a6a6;
}

.button-submit{
    color: #333;
    border: 1px solid #fff;
    border-radius: 4px;
    cursor: pointer;
}

.button-submit:active{
    outline: 2px solid #dadada;
}

.input:focus{
    outline: 1px solid #fff;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.list-gastos{
    list-style: none;
    padding: 0;
}

.item-gastos{
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 4px;
    padding: 1vh;
    margin-bottom: 7px;
    box-shadow: 2px 3px#b8b7b7;
}
.item-gastos span{
    color: #727272
}
.item-gastos small{
    color: #000000
}
.total{
    display: flex;
    justify-content: end;
    background-color: #fff;
    border-radius: 4px;
    padding: 0.5rem;
}

.bloco-total{
    display: flex;
    justify-content: end;
}